* {
	font-family: sans-serif;	 
}

#controls {
	display: flex;
}

#calculation,
#generation {
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: flex-start;
	border: solid 3px green;
	border-radius: 4px;
	margin: 5px;
	padding: 5px;
}

#progress {
	border: solid 1px #ccc;
	width: 100%;
	display: flex;
	flex-direction: column;
	display: none;
}

#progress #level-1,
#progress #level {
	height: 4px;
	background: blue;
	width: 0;
}

#progress #level-1 {
	background: red;
}
